<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<typeAliases>
		<typeAlias type="com.boot.parking.model.Parking" alias="parking"/>
		<typeAlias type="com.boot.parking.model.Amount" alias="amount"/>
		<typeAlias type="com.boot.parking.model.Member" alias="member"/>
		<typeAlias type="com.boot.parking.model.Page" alias="page"/>
	</typeAliases>
</configuration>